* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Noto Sans KR", sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
}

.wrap {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.1);
}

h2 {
	color: tomato;
	font-size: 2em;
}

p {
	margin-top: 20px;
	margin-left: 75px;
	font-size: 10pt;
	display: flex;
	align-items: center;
}

.join {
	width: 50%;
	height: 930px;
	background: white;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.join_sns {
	padding: 20px;
	margin-bottom: 10px;
	display: flex;
}

.join_sns li {
	padding: 0px 15px;
	margin: 0px 25px;
}

.join_sns li:nth-child(1) {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 50px;
	background: rgb(66, 211, 46);
	font-size: 20px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 5px
		rgba(0, 0, 0, 0.1);
}

.join_sns li:nth-child(2) {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 50px;
	background: rgb(255, 230, 0);
	font-size: 20px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 5px
		rgba(0, 0, 0, 0.1);
}

.fa-sharp {
	color: rgb(255, 255, 255);
}

.fa-solid :nth-child(2) {
	color: rgb(34, 21, 4);
}

.join_a {
	margin-top: 20px;
	width: 80%;
}

.join_a input {
	width: 150%;
	height: 50px;
	border-radius: 30px;
	margin-top: 10px;
	padding: 0px 20px;
	border: 1px solid lightgray;
	outline: none;
}

.join_grade {
	margin-top: 20px;
	width: 80%;
}

.join_grade input {
	margin-right: 10px;
}

.submit {
	margin-top: 20px;
	width: 80%;
}


.submit input {
	width: 150%;
	height: 50px;
	border: 0;
	outline: none;
	border-radius: 40px;
	background: linear-gradient(to left, rgb(245, 188, 82),
		rgb(253, 157, 157));
	color: white;
	font-size: 1.2em;
	letter-spacing: 2px;
}

.submit input:hover{

	background: linear-gradient(to right, rgb(245, 188, 82),
		rgb(253, 157, 157));
	font-size: 1.5em;

}