@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@import
	url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i")
	;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

form {
	margin: 0 0 2rem 0;
}

form>:last-child {
	margin-bottom: 0;
}

/* Table */
.table-wrapper {
	-webkit-overflow-scrolling: touch;
	margin: 0 0 2rem 0;
	overflow-x: auto;
}

.table-wrapper>table {
	margin-bottom: 0;
}

table {
	margin: 0 0 2rem 0;
	width: 100%;
}

table tbody tr {
	border: solid 1px;
	border-left: 0;
	border-right: 0;
}

table td {
	padding: 0.75rem 0.75rem;
}

table th {
	font-size: 0.9rem;
	font-weight: 400;
	padding: 0 0.75rem 0.75rem 0.75rem;
	text-align: left;
}

table thead {
	border-bottom: solid 2px;
}

table tfoot {
	border-top: solid 2px;
}

table.alt {
	border-collapse: separate;
}

table.alt tbody tr td {
	border: solid 1px;
	border-left-width: 0;
	border-top-width: 0;
}

table.alt tbody tr td:first-child {
	border-left-width: 1px;
}

table.alt tbody tr:first-child td {
	border-top-width: 1px;
}

table.alt thead {
	border-bottom: 0;
}

table.alt tfoot {
	border-top: 0;
}

table.fixed {
	table-layout: fixed;
}

table tbody tr {
	border-color: rgba(0, 0, 0, 0.2);
}

table tbody tr:nth-child(2n + 1) {
	background-color: rgba(0, 0, 0, 0.05);
}

table tbody tr.alt {
	background-color: rgba(0, 0, 0, 0.05) !important;
}

table th {
	color: #000000;
}

table thead {
	border-bottom-color: rgba(0, 0, 0, 0.2);
}

table tfoot {
	border-top-color: rgba(0, 0, 0, 0.2);
}

table.alt tbody tr td {
	border-color: rgba(0, 0, 0, 0.2);
}

table.uniform tbody tr:nth-child(2n + 1) {
	background-color: transparent;
}

/* Button */
input[type="submit"], input[type="reset"], input[type="button"], button,
	.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s
		ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s
		ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s
		ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, box-shadow 0.2s
		ease-in-out, color 0.2s ease-in-out;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	letter-spacing: 0.125em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: 0.75rem;
	max-width: 20rem;
	height: 3.75em;
	line-height: 3.75em;
	border-radius: 3.75em;
	padding: 0 2.5em;
	text-overflow: ellipsis;
	overflow: hidden;
}

input[type="submit"].icon:before, input[type="reset"].icon:before, input[type="button"].icon:before,
	button.icon:before, .button.icon:before {
	margin-right: 0.5rem;
}

input[type="submit"].fit, input[type="reset"].fit, input[type="button"].fit,
	button.fit, .button.fit {
	width: 100%;
}

input[type="submit"].small, input[type="reset"].small, input[type="button"].small,
	button.small, .button.small {
	font-size: 0.6rem;
	height: 3.325em;
	line-height: 3.325em;
	border-radius: 3.325em;
	padding: 0 2em;
}

input[type="submit"].large, input[type="reset"].large, input[type="button"].large,
	button.large, .button.large {
	font-size: 0.8rem;
	height: 4em;
	line-height: 4em;
	border-radius: 4em;
	padding: 0 3em;
}

input[type="submit"].wide, input[type="reset"].wide, input[type="button"].wide,
	button.wide, .button.wide {
	min-width: 14em;
}

input[type="submit"].disabled, input[type="submit"]:disabled, input[type="reset"].disabled,
	input[type="reset"]:disabled, input[type="button"].disabled, input[type="button"]:disabled,
	button.disabled, button:disabled, .button.disabled, .button:disabled {
	pointer-events: none;
	opacity: 0.25;
}

label {
	display: block;
	font-size: 0.9rem;
	font-weight: 400;
	margin: 0 0 1rem 0;
}

select option {
	color: #000000;
	background: #ffffff;
}

input[type="checkbox"]+label, input[type="radio"]+label {
	color: #000000;
}

input[type="checkbox"]+label:before, input[type="radio"]+label:before {
	border-color: rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:checked+label:before, input[type="radio"]:checked+label:before
	{
	background-color: #000000;
	border-color: #000000;
	color: #ffffff;
}

input[type="checkbox"]:focus+label:before, input[type="radio"]:focus+label:before
	{
	border-color: #47D3E5;
	box-shadow: 0 0 0 1px #47D3E5;
}

body, input, select, textarea {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.65;
}

label {
	display: block;
	font-size: 0.9rem;
	font-weight: 400;
	margin: 0 0 1rem 0;
}

input[type="text"] {
	width: 10%;
}

input[type="password"], input[type="email"], input[type="tel"], input[type="search"],
	input[type="url"], select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background-color: transparent;
	border-radius: 3px;
	border: none;
	border: solid 1px;
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 0.825rem;
	text-decoration: none;
	width: 100%;
}

input[type="search"] {
	width: 10%;
}

input[type="text"]:invalid, input[type="password"]:invalid, input[type="email"]:invalid,
	input[type="tel"]:invalid, input[type="search"]:invalid, input[type="url"]:invalid,
	select:invalid, textarea:invalid {
	box-shadow: none;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

hr {
	border: 0;
	border-bottom: solid 1px;
	margin: 2.5rem 0;
}

hr {
	border-bottom-color: rgba(0, 0, 0, 0.2);
}

/* List */
ol {
	list-style: decimal;
	margin: 0 0 2rem 0;
	padding-left: 1.25rem;
}

ol li {
	padding-left: 0.25rem;
}

ul {
	list-style: disc;
	margin: 0 0 2rem 0;
	padding-left: 1rem;
}

ul li {
	padding-left: 0.5rem;
}

ul.alt {
	list-style: none;
	padding-left: 0;
}

ul.alt li {
	border-top: solid 1px;
	padding: 0.5rem 0;
}

ul.alt li:first-child {
	border-top: 0;
	padding-top: 0;
}

dl {
	margin: 0 0 2rem 0;
}

dl dt {
	display: block;
	font-weight: 400;
	margin: 0 0 1rem 0;
}

dl dd {
	margin-left: 2rem;
}

dl.style2 dt {
	width: 25%;
	float: left;
}

dl.style2 dd {
	width: 70%;
	float: left;
}

dl.style2:after {
	content: '';
	display: block;
	clear: both;
}

ul.alt li {
	border-top-color: rgba(0, 0, 0, 0.2);
}

/* Wrapper (style2) */
.wrapper.style2 {
	padding: 7rem;
	background-color: #eeeeee;
}

.wrapper.style2>.inner {
	padding: 5.25rem 3.5rem 3.25rem 3.5rem;
	background-color: #ffffff;
	border-radius: 0.5rem;
	margin: 0 auto;
	max-width: 100%;
	position: relative;
	width: 64rem;
	z-index: 1;
}

.wrapper.style2>.inner.medium {
	width: 48rem;
}

.wrapper.style2>.inner.small {
	width: 32rem;
}

@media screen and (max-width: 1680px) {
	.wrapper.style2 {
		padding: 5rem;
	}
	.wrapper.style2>.inner {
		padding: 3.75rem 2.5rem 1.75rem 2.5rem;
	}
}

@media screen and (max-width: 1280px) {
	.wrapper.style2 {
		padding: 4rem;
	}
	.wrapper.style2>.inner {
		padding: 3rem 2rem 1rem 2rem;
	}
}

@media screen and (max-width: 980px) {
	.wrapper.style2 {
		padding: 2.25rem;
	}
	.wrapper.style2>.inner {
		padding: 3rem 2.25rem 1rem 2.25rem;
	}
}

@media screen and (max-width: 736px) {
	.wrapper.style2 {
		padding: 1.5rem;
	}
	.wrapper.style2>.inner {
		padding: 2rem 1.5rem 0.1rem 1.5rem;
	}
}

#wrapper
>
.wrapper


.style2


.invert


:not

 

(
.color1

 

)
:not

 

(
.color2

 

)
:not

 

(
.color3


	

)
:not

 

(
.color4

 

)
:not

 

(
.color5

 

)
:not

 

(
.color6

 

)
:not

 

(
.color7

 

)
{
background-color


:

 

#222222


;
}
#wrapper>.wrapper.style2.invert>.inner {
	background-color: #000000;
}